/* ============================
  General Styles
=============================== */
* {
  box-sizing: border-box;
}
/*
.container {
  padding-left: 1em;
  padding-right: 1em;
}*/

footer {
  text-align: center;
  background-color: grey;
  padding-top: 1em;
  padding-bottom: 1em;
}

header {
  background-color: red;
  height: 500px;
  width: 100%;
}
/* ============================
  Media Queries
=============================== */

/*@media (min-width: 769px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}*/
