/* ============================
  Base Element Styles
=============================== */
* {
    box-sizing: border-box;
}

body {
  font-family: 'Nixie One', cursive;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #d3d3d3;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

/* ============================
  Header
=============================== */
#hero{
  background: /* gradient overlay */
    linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url(../img/banner.jpg) no-repeat right top fixed;
  background-size: cover;
  background-position: 50%;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

h1 {
  margin-bottom: 5px;
  letter-spacing: .050em;
  color: #FFF;
  font-size: 1em;
  margin-bottom: 0;
}

.lead {
  font-size: .5em;
  margin: 0 0 80px 0;
}

.button {
  font-family: 'Nixie One', cursive;
}

/* ============================
  Navigation
=============================== */

.page-nav {
  display: none;
}

.page-nav__list {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
  position: fixed;
  height: 54px;
  background-color: #FFF;
  -webkit-box-shadow: 0 4px 2px -2px #8d8d8d;
          box-shadow: 0 4px 2px -2px #8d8d8d;
  z-index: 3;
  text-align: center;
  width: 100%;
}

.bars
{
    display: inline-block;

    margin-bottom: -4px;
    padding: 1em;

    cursor: pointer;

    background-color: red;
}

/* Define bar height and length */
.bar1,
.bar2,
.bar3
{
    width: 35px;
    height: 5px;
    margin: 6px 0;

    transition: .4s;

    background-color: #fff;
}

/* Rotate first bar */
.change .bar1
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2
{
    opacity: 0;
}

/* Rotate last bar */
.change .bar3
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
}

/* ============================
  Columns
=============================== */

iframe
{
    display: block;

    width: 100%;
    height: 400px;
    margin: 0 auto;
}

/* ============================
  Contact Form
=============================== */
form
{
    margin: 20px auto;

    text-align: center;
}

input
{
    width: 100%;
    height: 40px;

    letter-spacing: .1em;
}

textarea
{
    width: 100%;
    height: 150px;

    letter-spacing: .1em;
}

label
{
    font-size: 1.625em;

    display: block;

    margin-top: 8px;
    margin-bottom: 8px;

    text-align: left;
}

label:first-child
{
    margin-top: 0;
}

button
{
    font-size: 20px;

    width: 100%;
    margin-top: 10px;
    padding: 19px 39px 18px 39px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    border-radius: 5px;
    background-color: #4bc970;
    box-shadow: 0 -1px 0 rgba(255,255,255,.1) inset;
}

button:disabled
{
  background-color: gray;
  border-color: gray;
}

.error
{
    font-weight: bold;

    color: firebrick;
}

.phperror
{
    font-weight: bold;

    text-align: center;

    color: firebrick;
}

/* ============================
  Media Queries
=============================== */
@media (min-width: 769px) {

    h1 {
      font-size: 1.5em;
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        padding-right: 1em;
        padding-left: 1em;

        flex: 1;
    }

    .bars
    {
        display: none;
    }

    .main-nav
    {
        display: flex;

        justify-content: center;
    }

    .main-nav li
    {
        display: inline-block;
    }

    .name
    {
        display: block;

        text-align: center;
    }
}

@media screen and (min-width: 1025px) {

    h1 {
      font-size: 2.5em;
    }

    .form-container
    {
        display: flex;

        flex-wrap: wrap;
    }

    .form-desc
    {
        margin-top: 159px;
    }

    .form-input
    {
        flex-grow: 2;
    }

    .col
    {
        margin-bottom: 50px;
        padding-right: 1em;
        padding-left: 1em;
    }
}

@media screen and (max-width: 768px)
{
    .main-nav
    {
        display: none;
    }
}
